/* Desktop breakpoint */
/* @media only screen and (min-width: 1024px) { */
.contentArea {
    padding-top: 15%;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}
@media only screen and (min-width: 1024px) {
    .contentArea {
        padding-left: 30%;
        padding-top: 0%;
    }
    
    /* .layoutContainer {
      flex-direction: row;
    }
    
    .header {
      width: 215px;
      min-height: 100vh;
    }
    
    .headerContent {
      position: fixed;
      width: 200px;
      margin-top: auto;
    }
    
    .navContent {
      display: block;
    }
    
    .socialContent {
      display: flex;
    }
    
    .mobileMenu {
      display: none;
    } */
  }

/* @media only screen and (min-width: 1024px) {
    .contentArea {
        padding-left: 25%;
    }
} */