.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: -webkit-linear-gradient(
      top,
      rgba(22, 27, 33, 0) 0%,
      rgba(22, 27, 33, 0.01) 1%,
      rgba(22, 27, 33, 0.7) 70%,
      rgba(22, 27, 33, 0.7) 100%
    );
  }

.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: rgb(31, 41, 55);
}

.headerContent {
  padding: 0.5rem;
}

.headerTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.headerDescription {
  font-size: 0.875rem;
  color: rgb(209, 213, 219);
  display: none;
}

.navContent {
  display: none;
  margin-bottom: 2rem;
}

.socialContent {
  display: none;
  gap: 1rem;
}
/* .socialContent {
    display: none;
    margin-top: auto;
    padding-top: 2rem;
  } */

.mobileMenu {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.mobileMenu:hover {
  background-color: rgb(55, 65, 81);
}

/* Tablet breakpoint */
/* @media only screen and (min-width: 768px) {
  .header {
    padding: 80px 40px;
  }
  
  .headerContent {
    padding: 0;
  }
  
  .headerDescription {
    display: block;
  }
} */

/* Desktop breakpoint */
/* @media only screen and (min-width: 1024px) { */
@media only screen and (min-width: 690px) {
  .layoutContainer {
    flex-direction: row;
  }
  
  .header {
    width: 215px;
    min-height: 100vh;
  }
  
  .headerContent {
    position: fixed;
    width: 200px;
    
  }
  
  .navContent {
    display: block;
  }
  
  .socialContent {
    display: flex;
  }
  
  .mobileMenu {
    display: none;
  }
}

.headerImage {
    position: 'absolute';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 'cover';
    background-position: 'center';
    background-repeat: 'no-repeat';
    opacity: 0;
    -webkit-transition: 'opacity .4s ease-in-out';
    -moz-transition: 'opacity .4s ease-in-out';
    -ms-transition: 'opacity .4s ease-in-out';
    -o-transition: 'opacity .4s ease-in-out';
    transition: 'opacity .4s ease-in-out';
}