
.sidebarLayout {
    display: flex;
    flex-direction: column;
  }
  
.sidebarLayout > :first-child {
    flex: 0 0 auto;
}

.sidebarLayout > :nth-child(2) {
    flex: 1 1 auto;
}

@media (min-width: 768px) {
.sidebarLayout {
    flex-direction: row;
}

.sidebarLayout > :first-child {
    flex: 1;
}

.sidebarLayout > :nth-child(2) {
    flex: 3;
}
}

@media (max-width: 767px) {
    .sidebarLayout > :first-child {
        width: 1000%;
        order: -1; /* Move the sidebar to the top */
    }
}

.headerImage {
    position: 'absolute';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 'cover';
    background-position: 'center';
    background-repeat: 'no-repeat';
    opacity: 0;
    -webkit-transition: 'opacity .4s ease-in-out';
    -moz-transition: 'opacity .4s ease-in-out';
    -ms-transition: 'opacity .4s ease-in-out';
    -o-transition: 'opacity .4s ease-in-out';
    transition: 'opacity .4s ease-in-out';
}


@media only screen and (min-width: 1024px) {
    .headerImage {
        position: 'fixed';
        right: 'auto';
        width: '30%';
    }
}

.header-image--on {
    opacity: 1;
}